$background-header: #FFFFFF;
$background-color: #1f2039;
$clair: #9eadf3;
$primary-color: #4a4a4a;
$font-family: Sans-serif;
$taillepolice: 16px;

header {
    background-color: $background-header;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 15px;
    margin: 10px;
    a{
        color: $primary-color;
        font-size: 19px;
        font-family: 'Montserrat - Bold', sans-serif;
    }
}

.nav{

    display: flex;
    padding-top: 20px;
    gap: 20px; 
}

footer{

    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 15px;
    margin: 10px;
}

















 


