$background-header: #FFFFFF;
$background-color: #1f2039;
$clair: #938DBE;
$primary-color: #4a4a4a;
$font-family: Helvetica, sans-serif;
$taillepolice: 16px;

header {
    background-color: $background-header ;
}
.nav{
     
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    gap: 15px;
    margin: 10px;

}






 


