$background-header: #FFFFFF;
$background-color: #1f2039;
$clair: #938DBE;
$font-family: Helvetica, sans-serif;

@use 'menu';

header{
    background-color: $background-header ;
}
.nav{
     
        display: flex;
        flex-direction: row-reverse;
    
      
}

.accueil-introduction{
    background-color: $background-color;
}

h1{
    font-size: 250%;
    color: $clair;
}

p{
    color: #FFFFFF;
}

em {
    color: $clair;
}

*{ 
    margin: 0 ;
    font-style: normal;
    text-decoration:none

}

.cta{
    border-radius: 13%;
    border: $clair;
    background-color: $clair;
}