$background-header: #FFFFFF;
$background-color: #1f2039;
$clair: #938DBE;
$font-family: Helvetica, sans-serif;

@use 'menu';

*{ 
    margin: 0 ;
    font-style: normal;
    text-decoration:none

}
header{
    background-color: $background-header ;
}
.nav{
     
        display: flex;
        flex-direction: row-reverse;
    
      
}

.accueil-introduction{
    background-color: $background-color;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

h1{
    font-size: 56px;
    color: $clair;
    font-weight: bold;
    margin-bottom: 15px;
}

p{
    color: #FFFFFF;
    font-size: 18px;
    margin:10px;
    margin-bottom: 20px;
    padding-right: 200px;
    margin-bottom: 30px;
}

em {
    color: $clair;
}

.cta{
    a {
        color: #ffffff;
    }
    border-radius: 50px;
    border: $clair;
    background-color: $clair;
    padding: 20px 30px;
   
}
